{
  "openapi": "3.0.0",
  "info": {
    "title": "Z5API OpenApi",
    "description": "Z5 API OpenApi Spec",
    "version": "0.1.0"
  },
  "components": {
    "securitySchemes": {
      "httpAuth": { "type": "http", "scheme": "token" }
    }
  },
  "externalDocs": {
    "url": "https://docs.gmetri.com",
    "description": "Find more info here"
  },
  "servers": [{ "url": "https://z5api.in.gmetri.com/" }],
  "paths": {
    "/plugin/experience/create": {
      "post": {
        "responses": {
          "2xx": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "True will be for success operation and false will be for failure."
                    },
                    "errorCode": {
                      "type": "string"
                    },
                    "errorMessage": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "description": "The object of deployment",
                      "properties": {
                        "id": {
                          "type": "number"
                        },
                        "json": {
                          "type": "object",
                          "description": "Project json[RT.project]."
                        },
                        "name": {
                          "type": "string"
                        },
                        "tags": {
                          "type": "array",
                          "nullable": true,
                          "items": {
                            "type": "string"
                          }
                        },
                        "uuid": {
                          "type": "string"
                        },
                        "active": {
                          "type": "boolean"
                        },
                        "engine": {
                          "type": "string"
                        },
                        "thumbnail": {
                          "type": "string",
                          "nullable": true
                        },
                        "created_at": {
                          "type": "string"
                        },
                        "description": {
                          "type": "string",
                          "nullable": true
                        },
                        "modified_at": {
                          "type": "string"
                        },
                        "organization_id": {
                          "type": "number"
                        },
                        "modified_by_user_id": {
                          "type": "number"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "4xx": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "True will be for success operation and false will be for failure.",
                      "default": false
                    },
                    "errorCode": {
                      "type": "number"
                    },
                    "errorMessage": {
                      "type": "string",
                      "default": "Something went wrong. Please try again."
                    }
                  }
                }
              }
            }
          },
          "5xx": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "True will be for success operation and false will be for failure.",
                      "default": false
                    },
                    "errorCode": {
                      "type": "number"
                    },
                    "errorMessage": {
                      "type": "string",
                      "default": "Something went wrong. Please try again."
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Experience"
        ],
        "security": [
          {
            "httpAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "orgSlug": {
                    "type": "string",
                    "description": "Slug of the organization."
                  },
                  "engine": {
                    "type": "string",
                    "description": "Engine of the project. Valid values are v4 and v5."
                  },
                  "name": {
                    "type": "string",
                    "description": "Name of the project."
                  },
                  "json": {
                    "type": "object",
                    "description": "Project json.[RT.project]"
                  },
                  "tags": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "description": {
                    "type": "string",
                    "description": "Description of the project."
                  }
                },
                "required": [
                  "orgSlug",
                  "engine",
                  "name"
                ]
              }
            },
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "orgSlug": {
                    "type": "string",
                    "description": "Slug of the organization."
                  },
                  "engine": {
                    "type": "string",
                    "description": "Engine of the project. Valid values are v4 and v5."
                  },
                  "name": {
                    "type": "string",
                    "description": "Name of the project."
                  },
                  "json": {
                    "type": "object",
                    "description": "Project json.[RT.project]"
                  },
                  "tags": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "description": {
                    "type": "string",
                    "description": "Description of the project."
                  }
                },
                "required": [
                  "orgSlug",
                  "engine",
                  "name"
                ]
              }
            }
          },
          "required": true
        }
      }
    },
    "/plugin/experience/get": {
      "post": {
        "responses": {
          "2xx": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "True will be for success operation and false will be for failure."
                    },
                    "errorCode": {
                      "type": "string",
                      "nullable": true
                    },
                    "errorMessage": {
                      "type": "string",
                      "nullable": true
                    },
                    "data": {
                      "type": "object",
                      "description": "The object of deployment",
                      "properties": {
                        "project": {
                          "type": "object",
                          "description": "Project object.",
                          "properties": {
                            "id": {
                              "type": "number"
                            },
                            "json": {
                              "type": "object",
                              "description": "Project json[RT.project]."
                            },
                            "name": {
                              "type": "string"
                            },
                            "tags": {
                              "type": "array",
                              "nullable": true,
                              "items": {
                                "type": "string"
                              }
                            },
                            "uuid": {
                              "type": "string"
                            },
                            "active": {
                              "type": "boolean"
                            },
                            "engine": {
                              "type": "string"
                            },
                            "thumbnail": {
                              "type": "string",
                              "nullable": true
                            },
                            "created_at": {
                              "type": "string"
                            },
                            "description": {
                              "type": "string",
                              "nullable": true
                            },
                            "modified_at": {
                              "type": "string"
                            },
                            "organization_id": {
                              "type": "number"
                            },
                            "modified_by_user_id": {
                              "type": "number"
                            }
                          }
                        },
                        "projectJson": {
                          "type": "object",
                          "description": "Project json object[RT.project].",
                          "additionalProperties": true
                        },
                        "org": {
                          "type": "object",
                          "description": "Organization object.",
                          "properties": {
                            "id": {
                              "type": "number"
                            },
                            "logo": {
                              "type": "string",
                              "nullable": true
                            },
                            "name": {
                              "type": "string"
                            },
                            "slug": {
                              "type": "string"
                            },
                            "domain": {
                              "type": "string"
                            },
                            "settings": {
                              "type": "object",
                              "description": "Settings of the organization.",
                              "properties": {
                                "outgoing_webhook_viewer_state": {
                                  "type": "object",
                                  "properties": {
                                    "enabled": {
                                      "type": "boolean"
                                    },
                                    "jwt_secret": {
                                      "type": "string",
                                      "nullable": true
                                    },
                                    "external_endpoint": {
                                      "type": "string",
                                      "nullable": true
                                    }
                                  }
                                }
                              }
                            },
                            "presigned": {
                              "type": "string",
                              "nullable": true
                            },
                            "api_secret": {
                              "type": "string",
                              "nullable": true
                            },
                            "created_at": {
                              "type": "string"
                            },
                            "logo_color": {
                              "type": "string",
                              "nullable": true
                            },
                            "org_bucket": {
                              "type": "string",
                              "nullable": true
                            },
                            "view_cname": {
                              "type": "string",
                              "nullable": true
                            },
                            "customer_id": {
                              "type": "string",
                              "nullable": true
                            },
                            "global_vars": {
                              "type": "object",
                              "nullable": true,
                              "description": "Global variables of organization."
                            },
                            "modified_at": {
                              "type": "string"
                            },
                            "website_url": {
                              "type": "string",
                              "nullable": true
                            },
                            "login_method": {
                              "type": "string",
                              "nullable": true
                            },
                            "token_secret": {
                              "type": "string",
                              "nullable": true
                            },
                            "referral_code": {
                              "type": "string",
                              "nullable": true
                            },
                            "paddle_cancel_url": {
                              "type": "string",
                              "nullable": true
                            },
                            "paddle_update_url": {
                              "type": "string",
                              "nullable": true
                            },
                            "subscription_name": {
                              "type": "string",
                              "nullable": true
                            },
                            "trial_expiry_date": {
                              "type": "string",
                              "nullable": true
                            },
                            "override_login_url": {
                              "type": "string",
                              "nullable": true
                            },
                            "external_api_endpoint": {
                              "type": "string",
                              "nullable": true
                            },
                            "paddle_subscription_id": {
                              "type": "string",
                              "nullable": true
                            },
                            "enable_viewer_state_forwarding": {
                              "type": "boolean"
                            },
                            "subscription_management_status": {
                              "type": "string"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "4xx": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "True will be for success operation and false will be for failure.",
                      "default": false
                    },
                    "errorCode": {
                      "type": "number"
                    },
                    "errorMessage": {
                      "type": "string",
                      "default": "Something went wrong. Please try again."
                    }
                  }
                }
              }
            }
          },
          "5xx": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "True will be for success operation and false will be for failure.",
                      "default": false
                    },
                    "errorCode": {
                      "type": "number"
                    },
                    "errorMessage": {
                      "type": "string",
                      "default": "Something went wrong. Please try again."
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Experience"
        ],
        "security": [
          {
            "httpAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "projUuid": {
                    "type": "string",
                    "description": "Unique identifier of the project(UUID format)."
                  }
                },
                "required": [
                  "projUuid"
                ]
              }
            },
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "projUuid": {
                    "type": "string",
                    "description": "Unique identifier of the project(UUID format)."
                  }
                },
                "required": [
                  "projUuid"
                ]
              }
            }
          },
          "required": true
        }
      }
    },
    "/plugin/experience/getProjectJson": {
      "post": {
        "responses": {
          "2xx": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "True will be for success operation and false will be for failure."
                    },
                    "errorCode": {
                      "type": "string",
                      "nullable": true
                    },
                    "errorMessage": {
                      "type": "string",
                      "nullable": true
                    },
                    "data": {
                      "type": "object",
                      "description": "Project json object[RT.project].",
                      "additionalProperties": true
                    }
                  }
                }
              }
            }
          },
          "4xx": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "True will be for success operation and false will be for failure.",
                      "default": false
                    },
                    "errorCode": {
                      "type": "number"
                    },
                    "errorMessage": {
                      "type": "string",
                      "default": "Something went wrong. Please try again."
                    }
                  }
                }
              }
            }
          },
          "5xx": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "True will be for success operation and false will be for failure.",
                      "default": false
                    },
                    "errorCode": {
                      "type": "number"
                    },
                    "errorMessage": {
                      "type": "string",
                      "default": "Something went wrong. Please try again."
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Experience"
        ],
        "security": [
          {
            "httpAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "projUuid": {
                    "type": "string",
                    "description": "Unique identifier of the project(UUID format)."
                  }
                },
                "required": [
                  "projUuid"
                ]
              }
            },
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "projUuid": {
                    "type": "string",
                    "description": "Unique identifier of the project(UUID format)."
                  }
                },
                "required": [
                  "projUuid"
                ]
              }
            }
          },
          "required": true
        }
      }
    },
    "/plugin/experience/updateJson": {
      "post": {
        "responses": {
          "2xx": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "True will be for success operation and false will be for failure."
                    },
                    "errorCode": {
                      "type": "string",
                      "nullable": true
                    },
                    "errorMessage": {
                      "type": "string",
                      "nullable": true
                    }
                  }
                }
              }
            }
          },
          "4xx": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "True will be for success operation and false will be for failure.",
                      "default": false
                    },
                    "errorCode": {
                      "type": "number"
                    },
                    "errorMessage": {
                      "type": "string",
                      "default": "Something went wrong. Please try again."
                    }
                  }
                }
              }
            }
          },
          "5xx": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "True will be for success operation and false will be for failure.",
                      "default": false
                    },
                    "errorCode": {
                      "type": "number"
                    },
                    "errorMessage": {
                      "type": "string",
                      "default": "Something went wrong. Please try again."
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Experience"
        ],
        "security": [
          {
            "httpAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "projUuid": {
                    "type": "string",
                    "description": "Unique identifier of the project(UUID format)."
                  },
                  "json": {
                    "type": "object",
                    "description": "Json object of project[RT.project]."
                  }
                },
                "required": [
                  "projUuid",
                  "json"
                ]
              }
            },
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "projUuid": {
                    "type": "string",
                    "description": "Unique identifier of the project(UUID format)."
                  },
                  "json": {
                    "type": "object",
                    "description": "Json object of project[RT.project]."
                  }
                },
                "required": [
                  "projUuid",
                  "json"
                ]
              }
            }
          },
          "required": true
        }
      }
    },
    "/plugin/experience/applyPatches": {
      "post": {
        "responses": {
          "2xx": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "True will be for success operation and false will be for failure."
                    },
                    "errorCode": {
                      "type": "string",
                      "nullable": true
                    },
                    "errorMessage": {
                      "type": "string",
                      "nullable": true
                    }
                  }
                }
              }
            }
          },
          "4xx": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "True will be for success operation and false will be for failure.",
                      "default": false
                    },
                    "errorCode": {
                      "type": "number"
                    },
                    "errorMessage": {
                      "type": "string",
                      "default": "Something went wrong. Please try again."
                    }
                  }
                }
              }
            }
          },
          "5xx": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "True will be for success operation and false will be for failure.",
                      "default": false
                    },
                    "errorCode": {
                      "type": "number"
                    },
                    "errorMessage": {
                      "type": "string",
                      "default": "Something went wrong. Please try again."
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Experience"
        ],
        "security": [
          {
            "httpAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "projUuid": {
                    "type": "string",
                    "description": "Unique identifier of the project(UUID format)."
                  },
                  "patches": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "description": "https://immerjs.github.io/immer/patches/"
                    }
                  }
                },
                "required": [
                  "projUuid",
                  "patches"
                ]
              }
            },
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "projUuid": {
                    "type": "string",
                    "description": "Unique identifier of the project(UUID format)."
                  },
                  "patches": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "description": "https://immerjs.github.io/immer/patches/"
                    }
                  }
                },
                "required": [
                  "projUuid",
                  "patches"
                ]
              }
            }
          },
          "required": true
        }
      }
    },
    "/plugin/experience/delete": {
      "post": {
        "responses": {
          "2xx": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "True will be for success operation and false will be for failure."
                    },
                    "errorCode": {
                      "type": "string",
                      "nullable": true
                    },
                    "errorMessage": {
                      "type": "string",
                      "nullable": true
                    }
                  }
                }
              }
            }
          },
          "4xx": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "True will be for success operation and false will be for failure.",
                      "default": false
                    },
                    "errorCode": {
                      "type": "number"
                    },
                    "errorMessage": {
                      "type": "string",
                      "default": "Something went wrong. Please try again."
                    }
                  }
                }
              }
            }
          },
          "5xx": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "True will be for success operation and false will be for failure.",
                      "default": false
                    },
                    "errorCode": {
                      "type": "number"
                    },
                    "errorMessage": {
                      "type": "string",
                      "default": "Something went wrong. Please try again."
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Experience"
        ],
        "security": [
          {
            "httpAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "projUuid": {
                    "type": "string",
                    "description": "Unique identifier of the project(UUID format)."
                  }
                },
                "required": [
                  "projUuid"
                ]
              }
            },
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "projUuid": {
                    "type": "string",
                    "description": "Unique identifier of the project(UUID format)."
                  }
                },
                "required": [
                  "projUuid"
                ]
              }
            }
          },
          "required": true
        }
      }
    },
    "/plugin/deployment/create": {
      "post": {
        "responses": {
          "2xx": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "True will be for success operation and false will be for failure."
                    },
                    "errorCode": {
                      "type": "string"
                    },
                    "errorMessage": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "description": "The object of deployment",
                      "properties": {
                        "id": {
                          "type": "number"
                        },
                        "live": {
                          "type": "boolean"
                        },
                        "slug": {
                          "type": "string"
                        },
                        "active": {
                          "type": "boolean"
                        },
                        "created_at": {
                          "type": "string"
                        },
                        "guest_view": {
                          "type": "boolean"
                        },
                        "project_id": {
                          "type": "number"
                        },
                        "modified_at": {
                          "type": "string"
                        },
                        "organization_id": {
                          "type": "number"
                        },
                        "viewer_group_id": {
                          "type": "number"
                        },
                        "discussion": {
                          "type": "object",
                          "nullable": true
                        },
                        "settings": {
                          "type": "object",
                          "nullable": true,
                          "properties": {
                            "track_location": {
                              "type": "boolean"
                            },
                            "enable_discussion": {
                              "type": "boolean"
                            },
                            "meta": {
                              "type": "object",
                              "properties": {
                                "title": {
                                  "type": "string"
                                },
                                "thumbnail": {
                                  "type": "string"
                                },
                                "description": {
                                  "type": "string"
                                },
                                "tags": {
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  }
                                }
                              }
                            },
                            "geolock": {
                              "type": "object",
                              "properties": {
                                "range": {
                                  "type": "number"
                                },
                                "lat": {
                                  "type": "number"
                                },
                                "lng": {
                                  "type": "number"
                                },
                                "address": {
                                  "type": "string"
                                },
                                "enabled": {
                                  "type": "boolean"
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "4xx": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "True will be for success operation and false will be for failure.",
                      "default": false
                    },
                    "errorCode": {
                      "type": "number"
                    },
                    "errorMessage": {
                      "type": "string",
                      "default": "Something went wrong. Please try again."
                    }
                  }
                }
              }
            }
          },
          "5xx": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "True will be for success operation and false will be for failure.",
                      "default": false
                    },
                    "errorCode": {
                      "type": "number"
                    },
                    "errorMessage": {
                      "type": "string",
                      "default": "Something went wrong. Please try again."
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Deployment"
        ],
        "security": [
          {
            "httpAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "orgSlug": {
                    "type": "string",
                    "description": "Slug of the organization"
                  },
                  "projUuid": {
                    "type": "string",
                    "description": "Unique identifier of the project(UUID format)."
                  },
                  "deploymentSlug": {
                    "type": "string",
                    "description": "Slug of the deployment"
                  }
                },
                "required": [
                  "orgSlug",
                  "projUuid"
                ]
              }
            },
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "orgSlug": {
                    "type": "string",
                    "description": "Slug of the organization"
                  },
                  "projUuid": {
                    "type": "string",
                    "description": "Unique identifier of the project(UUID format)."
                  },
                  "deploymentSlug": {
                    "type": "string",
                    "description": "Slug of the deployment"
                  }
                },
                "required": [
                  "orgSlug",
                  "projUuid"
                ]
              }
            }
          },
          "required": true
        }
      }
    },
    "/plugin/deployment/update": {
      "post": {
        "responses": {
          "2xx": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "True will be for success operation and false will be for failure."
                    },
                    "depSlug": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "4xx": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "True will be for success operation and false will be for failure.",
                      "default": false
                    },
                    "errorCode": {
                      "type": "number"
                    },
                    "errorMessage": {
                      "type": "string",
                      "default": "Something went wrong. Please try again."
                    }
                  }
                }
              }
            }
          },
          "5xx": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "True will be for success operation and false will be for failure.",
                      "default": false
                    },
                    "errorCode": {
                      "type": "number",
                      "nullable": true
                    },
                    "errorMessage": {
                      "type": "string",
                      "nullable": true,
                      "default": "Something went wrong. Please try again."
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Deployment"
        ],
        "security": [
          {
            "httpAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "deploymentId": {
                    "type": "number"
                  },
                  "orgSlug": {
                    "type": "string",
                    "description": "Slug of the organization"
                  },
                  "projUuid": {
                    "type": "string",
                    "description": "Unique identifier of the project(UUID format)."
                  },
                  "slug": {
                    "type": "string",
                    "description": "Slug of the deployment."
                  },
                  "guestView": {
                    "type": "boolean"
                  },
                  "settings": {
                    "type": "object",
                    "properties": {
                      "track_location": {
                        "type": "boolean",
                        "description": "Boolean configuration to track the location."
                      },
                      "enable_discussion": {
                        "type": "boolean",
                        "description": "True will enable the discussion viewer."
                      },
                      "meta": {
                        "type": "object",
                        "properties": {
                          "title": {
                            "type": "string"
                          },
                          "thumbnail": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "tags": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          }
                        }
                      },
                      "geolock": {
                        "type": "object",
                        "properties": {
                          "range": {
                            "type": "number"
                          },
                          "lat": {
                            "type": "number",
                            "description": "Latitude of the geo location."
                          },
                          "lng": {
                            "type": "number",
                            "description": "Longitude of the geo location."
                          },
                          "address": {
                            "type": "string",
                            "description": "Address of the geo location."
                          },
                          "enabled": {
                            "type": "boolean",
                            "description": "Boolean configuration value to enable and disable the geolock setting."
                          }
                        }
                      }
                    }
                  },
                  "viewerGroupId": {
                    "type": "number",
                    "description": "Unique identifier of the viewer group."
                  }
                },
                "required": [
                  "deploymentId",
                  "orgSlug",
                  "projUuid"
                ]
              }
            },
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "deploymentId": {
                    "type": "number"
                  },
                  "orgSlug": {
                    "type": "string",
                    "description": "Slug of the organization"
                  },
                  "projUuid": {
                    "type": "string",
                    "description": "Unique identifier of the project(UUID format)."
                  },
                  "slug": {
                    "type": "string",
                    "description": "Slug of the deployment."
                  },
                  "guestView": {
                    "type": "boolean"
                  },
                  "settings": {
                    "type": "object",
                    "properties": {
                      "track_location": {
                        "type": "boolean",
                        "description": "Boolean configuration to track the location."
                      },
                      "enable_discussion": {
                        "type": "boolean",
                        "description": "True will enable the discussion viewer."
                      },
                      "meta": {
                        "type": "object",
                        "properties": {
                          "title": {
                            "type": "string"
                          },
                          "thumbnail": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "tags": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          }
                        }
                      },
                      "geolock": {
                        "type": "object",
                        "properties": {
                          "range": {
                            "type": "number"
                          },
                          "lat": {
                            "type": "number",
                            "description": "Latitude of the geo location."
                          },
                          "lng": {
                            "type": "number",
                            "description": "Longitude of the geo location."
                          },
                          "address": {
                            "type": "string",
                            "description": "Address of the geo location."
                          },
                          "enabled": {
                            "type": "boolean",
                            "description": "Boolean configuration value to enable and disable the geolock setting."
                          }
                        }
                      }
                    }
                  },
                  "viewerGroupId": {
                    "type": "number",
                    "description": "Unique identifier of the viewer group."
                  }
                },
                "required": [
                  "deploymentId",
                  "orgSlug",
                  "projUuid"
                ]
              }
            }
          },
          "required": true
        }
      }
    },
    "/plugin/deployment/delete": {
      "post": {
        "responses": {
          "2xx": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "True will be for success operation and false will be for failure."
                    },
                    "depSlug": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "4xx": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "True will be for success operation and false will be for failure.",
                      "default": false
                    },
                    "errorCode": {
                      "type": "number"
                    },
                    "errorMessage": {
                      "type": "string",
                      "default": "Something went wrong. Please try again."
                    }
                  }
                }
              }
            }
          },
          "5xx": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "True will be for success operation and false will be for failure.",
                      "default": false
                    },
                    "errorCode": {
                      "type": "number",
                      "nullable": true
                    },
                    "errorMessage": {
                      "type": "string",
                      "nullable": true,
                      "default": "Something went wrong. Please try again."
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Deployment"
        ],
        "security": [
          {
            "httpAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "projUuid": {
                    "type": "string",
                    "description": "Unique identifier of the project(UUID format)."
                  },
                  "deploymentId": {
                    "type": "number",
                    "description": "Unique identifier of the deployment.(Number auto-increament key)."
                  }
                }
              }
            },
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "projUuid": {
                    "type": "string",
                    "description": "Unique identifier of the project(UUID format)."
                  },
                  "deploymentId": {
                    "type": "number",
                    "description": "Unique identifier of the deployment.(Number auto-increament key)."
                  }
                }
              }
            }
          }
        }
      }
    },
    "/plugin/presignUpload": {
      "post": {
        "responses": {
          "2xx": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "True will be for success operation and false will be for failure."
                    },
                    "errorCode": {
                      "type": "string"
                    },
                    "errorMessage": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "description": "The object of presigned urls.",
                      "properties": {
                        "presignedUrls": {
                          "type": "object",
                          "properties": {
                            "o": {
                              "type": "string"
                            },
                            "t": {
                              "type": "string"
                            }
                          }
                        },
                        "method": {
                          "type": "string"
                        },
                        "uuid": {
                          "type": "string"
                        },
                        "filePaths": {
                          "type": "object",
                          "properties": {
                            "o": {
                              "type": "string"
                            }
                          }
                        },
                        "name": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "4xx": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "True will be for success operation and false will be for failure.",
                      "default": false
                    },
                    "errorCode": {
                      "type": "number"
                    },
                    "errorMessage": {
                      "type": "string",
                      "default": "Something went wrong. Please try again."
                    }
                  }
                }
              }
            }
          },
          "5xx": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "True will be for success operation and false will be for failure.",
                      "default": false
                    },
                    "errorCode": {
                      "type": "number"
                    },
                    "errorMessage": {
                      "type": "string",
                      "default": "Something went wrong. Please try again."
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "File Manager"
        ],
        "security": [
          {
            "httpAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "rootName",
                  "parentId",
                  "name"
                ],
                "properties": {
                  "rootName": {
                    "type": "string",
                    "description": "Name of the root folder(Slug of the organization)."
                  },
                  "folderId": {
                    "type": "number",
                    "description": "Unique identifier of folder object[auto-increament key]."
                  },
                  "name": {
                    "type": "string",
                    "description": "Name of the file object."
                  }
                }
              }
            },
            "multipart/form-data": {
              "schema": {
                "required": [
                  "rootName",
                  "parentId",
                  "name"
                ],
                "properties": {
                  "rootName": {
                    "type": "string",
                    "description": "Name of the root folder(Slug of the organization)."
                  },
                  "folderId": {
                    "type": "number",
                    "description": "Unique identifier of folder object[auto-increament key]."
                  },
                  "name": {
                    "type": "string",
                    "description": "Name of the file object."
                  }
                }
              }
            }
          },
          "required": true
        }
      }
    },
    "/plugin/createFile": {
      "post": {
        "responses": {
          "2xx": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "True will be for success operation and false will be for failure."
                    },
                    "errorCode": {
                      "type": "string"
                    },
                    "errorMessage": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "description": "The object of file.",
                      "properties": {
                        "id": {
                          "type": "number"
                        },
                        "parent_id": {
                          "type": "number"
                        },
                        "name": {
                          "type": "string"
                        },
                        "bucket_id": {
                          "type": "number"
                        },
                        "is_folder": {
                          "type": "boolean"
                        },
                        "ext": {
                          "type": "string",
                          "nullable": true
                        },
                        "type": {
                          "type": "string",
                          "nullable": true
                        },
                        "processing": {
                          "type": "boolean",
                          "nullable": true
                        },
                        "processing_count": {
                          "type": "number",
                          "nullable": true
                        },
                        "processing_timestamp": {
                          "type": "string",
                          "nullable": true
                        },
                        "file_paths": {
                          "type": "object",
                          "description": "The paths of file.",
                          "properties": {
                            "o": {
                              "type": "string"
                            },
                            "t": {
                              "type": "string"
                            },
                            "r": {
                              "type": "string",
                              "nullable": true
                            }
                          }
                        },
                        "uuid": {
                          "type": "string",
                          "nullable": true
                        },
                        "size": {
                          "type": "string",
                          "nullable": true
                        },
                        "active": {
                          "type": "boolean"
                        },
                        "created_at": {
                          "type": "string"
                        },
                        "modified_at": {
                          "type": "string"
                        },
                        "mime_type": {
                          "type": "string",
                          "nullable": true
                        },
                        "num_files": {
                          "type": "number",
                          "nullable": true
                        },
                        "label": {
                          "type": "string",
                          "nullable": true
                        },
                        "metadata": {
                          "type": "object",
                          "description": "The metadata of file.",
                          "nullable": true,
                          "properties": {
                            "ext": {
                              "type": "string"
                            },
                            "mimeType": {
                              "type": "string"
                            },
                            "resolution": {
                              "type": "object",
                              "description": "The resolution of file",
                              "nullable": true,
                              "properties": {
                                "x": {
                                  "type": "number"
                                },
                                "y": {
                                  "type": "number"
                                }
                              }
                            }
                          }
                        },
                        "file_urls": {
                          "type": "object",
                          "description": "The urls of sile.",
                          "nullable": true,
                          "properties": {
                            "o": {
                              "type": "string"
                            },
                            "t": {
                              "type": "string"
                            },
                            "r": {
                              "type": "string",
                              "nullable": true
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "4xx": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "True will be for success operation and false will be for failure.",
                      "default": false
                    },
                    "errorCode": {
                      "type": "number"
                    },
                    "errorMessage": {
                      "type": "string",
                      "default": "Something went wrong. Please try again."
                    }
                  }
                }
              }
            }
          },
          "5xx": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "True will be for success operation and false will be for failure.",
                      "default": false
                    },
                    "errorCode": {
                      "type": "number"
                    },
                    "errorMessage": {
                      "type": "string",
                      "default": "Something went wrong. Please try again."
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "File Manager"
        ],
        "security": [
          {
            "httpAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "rootName",
                  "folderId",
                  "uploadMeta"
                ],
                "properties": {
                  "rootName": {
                    "type": "string",
                    "description": "Name of the root folder(Slug of the organization)."
                  },
                  "folderId": {
                    "type": "number",
                    "description": "Unique identifier of folder object[auto-increament key]."
                  },
                  "uploadMeta": {
                    "type": "object",
                    "description": "Metdadata of the file object.",
                    "properties": {
                      "name": {
                        "type": "string"
                      },
                      "type": {
                        "type": "string"
                      },
                      "file_paths": {
                        "type": "object",
                        "description": "The paths of file.",
                        "properties": {
                          "o": {
                            "type": "string"
                          },
                          "t": {
                            "type": "string",
                            "nullable": true
                          },
                          "r": {
                            "type": "string",
                            "nullable": true
                          }
                        }
                      },
                      "uuid": {
                        "type": "string"
                      },
                      "size": {
                        "type": "number"
                      },
                      "relativePath": {
                        "type": "string",
                        "nullable": true
                      }
                    }
                  }
                }
              }
            },
            "multipart/form-data": {
              "schema": {
                "required": [
                  "rootName",
                  "folderId",
                  "uploadMeta"
                ],
                "properties": {
                  "rootName": {
                    "type": "string",
                    "description": "Name of the root folder(Slug of the organization)."
                  },
                  "folderId": {
                    "type": "number",
                    "description": "Unique identifier of folder object[auto-increament key]."
                  },
                  "uploadMeta": {
                    "type": "object",
                    "description": "Metdadata of the file object.",
                    "properties": {
                      "name": {
                        "type": "string"
                      },
                      "type": {
                        "type": "string"
                      },
                      "file_paths": {
                        "type": "object",
                        "description": "The paths of file.",
                        "properties": {
                          "o": {
                            "type": "string"
                          },
                          "t": {
                            "type": "string",
                            "nullable": true
                          },
                          "r": {
                            "type": "string",
                            "nullable": true
                          }
                        }
                      },
                      "uuid": {
                        "type": "string"
                      },
                      "size": {
                        "type": "number"
                      },
                      "relativePath": {
                        "type": "string",
                        "nullable": true
                      }
                    }
                  }
                }
              }
            }
          },
          "required": true
        }
      }
    },
    "/plugin/listFolder": {
      "post": {
        "responses": {
          "2xx": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "True will be for success operation and false will be for failure."
                    },
                    "errorCode": {
                      "type": "string"
                    },
                    "errorMessage": {
                      "type": "string"
                    },
                    "data": {
                      "type": "array",
                      "description": "The array of file object.",
                      "properties": {
                        "id": {
                          "type": "number"
                        },
                        "parent_id": {
                          "type": "number"
                        },
                        "name": {
                          "type": "string"
                        },
                        "bucket_id": {
                          "type": "number"
                        },
                        "is_folder": {
                          "type": "boolean"
                        },
                        "ext": {
                          "type": "string",
                          "nullable": true
                        },
                        "type": {
                          "type": "string",
                          "nullable": true
                        },
                        "processing": {
                          "type": "boolean",
                          "nullable": true
                        },
                        "processing_count": {
                          "type": "number",
                          "nullable": true
                        },
                        "processing_timestamp": {
                          "type": "string",
                          "nullable": true
                        },
                        "file_paths": {
                          "type": "object",
                          "description": "The paths of file.",
                          "properties": {
                            "o": {
                              "type": "string"
                            },
                            "t": {
                              "type": "string"
                            },
                            "r": {
                              "type": "string",
                              "nullable": true
                            }
                          }
                        },
                        "uuid": {
                          "type": "string",
                          "nullable": true
                        },
                        "size": {
                          "type": "string",
                          "nullable": true
                        },
                        "active": {
                          "type": "boolean"
                        },
                        "created_at": {
                          "type": "string"
                        },
                        "modified_at": {
                          "type": "string"
                        },
                        "mime_type": {
                          "type": "string",
                          "nullable": true
                        },
                        "num_files": {
                          "type": "number",
                          "nullable": true
                        },
                        "label": {
                          "type": "string",
                          "nullable": true
                        },
                        "metadata": {
                          "type": "object",
                          "description": "The metadata of file.",
                          "nullable": true,
                          "properties": {
                            "ext": {
                              "type": "string"
                            },
                            "mimeType": {
                              "type": "string"
                            },
                            "resolution": {
                              "type": "object",
                              "description": "The resolution of file",
                              "nullable": true,
                              "properties": {
                                "x": {
                                  "type": "number"
                                },
                                "y": {
                                  "type": "number"
                                }
                              }
                            }
                          }
                        },
                        "file_urls": {
                          "type": "object",
                          "description": "The urls of sile.",
                          "nullable": true,
                          "properties": {
                            "o": {
                              "type": "string"
                            },
                            "t": {
                              "type": "string"
                            },
                            "r": {
                              "type": "string",
                              "nullable": true
                            }
                          }
                        }
                      },
                      "items": {}
                    }
                  }
                }
              }
            }
          },
          "4xx": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "True will be for success operation and false will be for failure.",
                      "default": false
                    },
                    "errorCode": {
                      "type": "number"
                    },
                    "errorMessage": {
                      "type": "string",
                      "default": "Something went wrong. Please try again."
                    }
                  }
                }
              }
            }
          },
          "5xx": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "True will be for success operation and false will be for failure.",
                      "default": false
                    },
                    "errorCode": {
                      "type": "number"
                    },
                    "errorMessage": {
                      "type": "string",
                      "default": "Something went wrong. Please try again."
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "File Manager"
        ],
        "security": [
          {
            "httpAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "rootName",
                  "folderId"
                ],
                "properties": {
                  "rootName": {
                    "type": "string",
                    "description": "Name of the root folder(Slug of the organization)."
                  },
                  "folderId": {
                    "type": "number",
                    "description": "Unique identifier of folder object[auto-increament key]."
                  }
                }
              }
            },
            "multipart/form-data": {
              "schema": {
                "required": [
                  "rootName",
                  "folderId"
                ],
                "properties": {
                  "rootName": {
                    "type": "string",
                    "description": "Name of the root folder(Slug of the organization)."
                  },
                  "folderId": {
                    "type": "number",
                    "description": "Unique identifier of folder object[auto-increament key]."
                  }
                }
              }
            }
          },
          "required": true
        }
      }
    },
    "/plugin/getFiles": {
      "post": {
        "responses": {
          "2xx": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "True will be for success operation and false will be for failure."
                    },
                    "errorCode": {
                      "type": "string"
                    },
                    "errorMessage": {
                      "type": "string"
                    },
                    "data": {
                      "type": "array",
                      "description": "The array of file object.",
                      "properties": {
                        "id": {
                          "type": "number"
                        },
                        "parent_id": {
                          "type": "number"
                        },
                        "name": {
                          "type": "string"
                        },
                        "bucket_id": {
                          "type": "number"
                        },
                        "is_folder": {
                          "type": "boolean"
                        },
                        "ext": {
                          "type": "string",
                          "nullable": true
                        },
                        "type": {
                          "type": "string",
                          "nullable": true
                        },
                        "processing": {
                          "type": "boolean",
                          "nullable": true
                        },
                        "processing_count": {
                          "type": "number",
                          "nullable": true
                        },
                        "processing_timestamp": {
                          "type": "string",
                          "nullable": true
                        },
                        "file_paths": {
                          "type": "object",
                          "description": "The paths of file.",
                          "properties": {
                            "o": {
                              "type": "string"
                            },
                            "t": {
                              "type": "string"
                            },
                            "r": {
                              "type": "string",
                              "nullable": true
                            }
                          }
                        },
                        "uuid": {
                          "type": "string",
                          "nullable": true
                        },
                        "size": {
                          "type": "string",
                          "nullable": true
                        },
                        "active": {
                          "type": "boolean"
                        },
                        "created_at": {
                          "type": "string"
                        },
                        "modified_at": {
                          "type": "string"
                        },
                        "mime_type": {
                          "type": "string",
                          "nullable": true
                        },
                        "num_files": {
                          "type": "number",
                          "nullable": true
                        },
                        "label": {
                          "type": "string",
                          "nullable": true
                        },
                        "metadata": {
                          "type": "object",
                          "description": "The metadata of file.",
                          "nullable": true,
                          "properties": {
                            "ext": {
                              "type": "string"
                            },
                            "mimeType": {
                              "type": "string"
                            },
                            "resolution": {
                              "type": "object",
                              "description": "The resolution of file",
                              "nullable": true,
                              "properties": {
                                "x": {
                                  "type": "number"
                                },
                                "y": {
                                  "type": "number"
                                }
                              }
                            }
                          }
                        },
                        "file_urls": {
                          "type": "object",
                          "description": "The urls of sile.",
                          "nullable": true,
                          "properties": {
                            "o": {
                              "type": "string"
                            },
                            "t": {
                              "type": "string"
                            },
                            "r": {
                              "type": "string",
                              "nullable": true
                            }
                          }
                        }
                      },
                      "items": {}
                    }
                  }
                }
              }
            }
          },
          "4xx": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "True will be for success operation and false will be for failure.",
                      "default": false
                    },
                    "errorCode": {
                      "type": "number"
                    },
                    "errorMessage": {
                      "type": "string",
                      "default": "Something went wrong. Please try again."
                    }
                  }
                }
              }
            }
          },
          "5xx": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "True will be for success operation and false will be for failure.",
                      "default": false
                    },
                    "errorCode": {
                      "type": "number"
                    },
                    "errorMessage": {
                      "type": "string",
                      "default": "Something went wrong. Please try again."
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "File Manager"
        ],
        "security": [
          {
            "httpAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "ids"
                ],
                "properties": {
                  "rootName": {
                    "type": "string",
                    "description": "Name of the root folder(Slug of the organization)."
                  },
                  "ids": {
                    "type": "array",
                    "items": {
                      "type": "integer",
                      "description": "Array of unique identifier of file objects[auto-increament key]."
                    }
                  }
                }
              }
            },
            "multipart/form-data": {
              "schema": {
                "required": [
                  "ids"
                ],
                "properties": {
                  "rootName": {
                    "type": "string",
                    "description": "Name of the root folder(Slug of the organization)."
                  },
                  "ids": {
                    "type": "array",
                    "items": {
                      "type": "integer",
                      "description": "Array of unique identifier of file objects[auto-increament key]."
                    }
                  }
                }
              }
            }
          },
          "required": true
        }
      }
    },
    "/plugin/renameFile": {
      "post": {
        "responses": {
          "2xx": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "True will be for success operation and false will be for failure."
                    },
                    "errorCode": {
                      "type": "string"
                    },
                    "errorMessage": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "description": "The object of file.",
                      "properties": {
                        "id": {
                          "type": "number"
                        },
                        "parent_id": {
                          "type": "number"
                        },
                        "name": {
                          "type": "string"
                        },
                        "bucket_id": {
                          "type": "number"
                        },
                        "is_folder": {
                          "type": "boolean"
                        },
                        "ext": {
                          "type": "string",
                          "nullable": true
                        },
                        "type": {
                          "type": "string",
                          "nullable": true
                        },
                        "processing": {
                          "type": "boolean",
                          "nullable": true
                        },
                        "processing_count": {
                          "type": "number",
                          "nullable": true
                        },
                        "processing_timestamp": {
                          "type": "string",
                          "nullable": true
                        },
                        "file_paths": {
                          "type": "object",
                          "description": "The paths of file.",
                          "properties": {
                            "o": {
                              "type": "string"
                            },
                            "t": {
                              "type": "string"
                            },
                            "r": {
                              "type": "string",
                              "nullable": true
                            }
                          }
                        },
                        "uuid": {
                          "type": "string",
                          "nullable": true
                        },
                        "size": {
                          "type": "string",
                          "nullable": true
                        },
                        "active": {
                          "type": "boolean"
                        },
                        "created_at": {
                          "type": "string"
                        },
                        "modified_at": {
                          "type": "string"
                        },
                        "mime_type": {
                          "type": "string",
                          "nullable": true
                        },
                        "num_files": {
                          "type": "number",
                          "nullable": true
                        },
                        "label": {
                          "type": "string",
                          "nullable": true
                        },
                        "metadata": {
                          "type": "object",
                          "description": "The metadata of file.",
                          "nullable": true,
                          "properties": {
                            "ext": {
                              "type": "string"
                            },
                            "mimeType": {
                              "type": "string"
                            },
                            "resolution": {
                              "type": "object",
                              "description": "The resolution of file",
                              "nullable": true,
                              "properties": {
                                "x": {
                                  "type": "number"
                                },
                                "y": {
                                  "type": "number"
                                }
                              }
                            }
                          }
                        },
                        "file_urls": {
                          "type": "object",
                          "description": "The urls of sile.",
                          "nullable": true,
                          "properties": {
                            "o": {
                              "type": "string"
                            },
                            "t": {
                              "type": "string"
                            },
                            "r": {
                              "type": "string",
                              "nullable": true
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "4xx": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "True will be for success operation and false will be for failure.",
                      "default": false
                    },
                    "errorCode": {
                      "type": "number"
                    },
                    "errorMessage": {
                      "type": "string",
                      "default": "Something went wrong. Please try again."
                    }
                  }
                }
              }
            }
          },
          "5xx": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "True will be for success operation and false will be for failure.",
                      "default": false
                    },
                    "errorCode": {
                      "type": "number"
                    },
                    "errorMessage": {
                      "type": "string",
                      "default": "Something went wrong. Please try again."
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "File Manager"
        ],
        "security": [
          {
            "httpAuth": []
          }
        ],
        "requestBody": {
          "content": {
[...]
